{
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always",
        "printWidth": 100
      }
    },
    {
      "files": ["*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
